<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.1">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo-container">
            <img src="https://raw.githubusercontent.com/Milena-Silva-Dev/Projeto-Final/master/src/main/resources/static/logo.jpg" alt="Logo">
        </div>
        <nav class="nav-links">
            <a href="#">
                <img src="/image/atendimento-icon.png" alt="Atendimento" class="nav-icon">
            </a>
            <a href="#">
                <img src="/image/pedidos-icon.png" alt="Pedidos" class="nav-icon">
            </a>
            <a href="#">
                <img src="/image/usuario-icon.png" alt="Minha Conta" class="nav-icon">
            </a>
            <div class="search-container">
                <input type="text" placeholder="Buscar...">
                <img src="/image/busca-icon.png" alt="Buscar" class="search-icon">
            </div>
            <a href="#">
                <img src="/image/carrinho-icon.png" alt="Carrinho" class="nav-icon">
            </a>
        </nav>
    </div>
</header>
</body>
</html>
